@inherits LayoutComponentBase

<PageTitle>PdfConversion</PageTitle>

<div class="page">
    <header class="top-nav">
        <div class="nav-brand">
            <a href="/" class="brand-link">PDF to Taxxor TDM</a>
        </div>
        <nav class="nav-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/development" class="nav-link">Development</a>
            <a href="/production" class="nav-link">Production</a>
        </nav>
        <div class="nav-actions">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="about-link">About</a>
        </div>
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
