@page "/development"

<PageTitle>Development Mode</PageTitle>

<h1>Development Mode</h1>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">XSLT Development Environment</h4>
    <p>This page will provide the split-screen interface for developing and testing XSLT transformations:</p>
    <ul>
        <li>Left Panel: Source XML viewer</li>
        <li>Center Panel: XSLT editor with syntax highlighting</li>
        <li>Right Panel: Live XHTML output preview</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Project Selection</h5>
            </div>
            <div class="card-body">
                <p class="text-muted">Project selector and file browser will be implemented here.</p>
            </div>
        </div>
    </div>
</div>

@code {
    // TODO: Implement development mode functionality
}